* {
	padding: 0;
	margin: 0;
}

#menu {
	background-color: #b6ba9b;
	text-align: center;
	padding: 80px;
}

nav {
	background-color: #000000;
	padding: 14px 20px;
	overflow: hidden;
}

nav a {
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
}

.menu_left {
	float: left;
}

.menu_right {
	float: right;
}

nav a:hover {
	background-color: #DDD;
	color: black;
}